/* Remove the browsers default styles */
* {
    margin: 0;
    padding: 0;
}

/* General styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center; 
}

ul {
    list-style-type: none;
}

a {
    color: seashell;
}

/* Header styles */
header {
    padding: 10px;
    display: flex;
    height: 50px;
    border-bottom: 1px solid seashell;
}

.main-site-nav {
    display: flex;
    margin-left: auto;
    height: 50px;
    align-items: center;
}

.main-site-nav li {
    margin: 15px;
}

header img {
    height: 50px;
}

/* Main content styles */
/* header-hero-banner section */
.header-hero-banner {
    width: 1200px;
    height: 700px;
    background-image: url("/Users/kziroh/Documents/tea-cozy/images/img-mission-background.webp");
    background-size: cover;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-banner-content {
    background-color: black;
    padding: 15px;
}

/* tea-info section */
.tea-info {
    width: 1000px;
    margin: 80px auto 0 auto;
}

.tea-info h2,
.tea-info h4 {
    padding: 10px;
}

.tea-info-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tea-info-images figure {
    margin: 15px;
}

.tea-info-images figcaption {
    font-weight: bold;
}

.tea-info img {
    width: 300px;
    height: 200px;
}